.Navbar {
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top,rgba(0,0,0,0) 0,#000 100%);

  &__dark {
    background-color: #000000;
    transition: background-color 400ms ease;
  }

  &__logo {
    height: 40px;
    position: fixed;
    left: 12px;
    object-fit: contain;
  }
}

.Button__SignIn {
  position: fixed;
  right: 12px;
}